{% extends 'layouts/base.html' %}
{% block header %}
    <div class="text-center underline">
      <div class="greetingHeader text-muted">
          <h1 class="border-bottom" style="color: #dfe5ef">Mmm food</h1>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
      <div class="leftPanelOne border col-md-4 shadow-lg text-center" style="left: -120px; height: 630px">
             <h1 style="color: #dfe5ef">Here's some text</h1>
                {{ response }}
      </div>
    </div>
{% endblock %}
