{% extends 'layouts/base.html' %}

{% block content %}
    <div id="recipe-otd">
        <div class="recipe-title">
           <span class="recipe-otd-title">
               Recipe of the day
           </span>
        </div>
        <div class="recipe-name">
            <span class="recipe-name-text">
                Recipe Name: {{ name }}
            </span>
        </div>
        <br>
        <div class="recipe-ingredients">
            <span class="recipe-ingredients-text">
                Recipe Ingredients:{{ ingredients }}
            </span>
        </div>
        <br>
        <div class="recipe-directions">
            <span class="recipe-directions-text">
                Recipe Directions: {{ directions }}
            </span>
        </div>
    </div>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}