{% extends 'layouts/base.html' %}
{% block header %}
    <div class="text-center underline">
      <div class="greetingHeader text-muted">
          <h1 class="border-bottom" style="color: #dfe5ef">What ya got?</h1>
      </div>
    </div>
{% endblock %}
{% block content %}
    <form target="recipe-submission-iframe" action="/recipe/submit">
        <h1 style="color: #dfe5ef">Recipe Name<label for="recipe-name"><input id="recipe-name"/></label></h1>
        <h1 style="color: #dfe5ef">Ingredients<label for="recipe-name"><input id="recipe-name"/></label></h1>
        <h1 style="color: #dfe5ef">Directions<label for="recipe-name"><textarea  id="recipe-name"></textarea></label></h1>
        <button  style="color: #7DE2D1; border-color: #7DE2D1; background-color: #1a1b20;" id="submit-recipe">Submit</button>
    </form>
    <iframe style="display: none;" name="recipe-submission-iframe"></iframe>
{% endblock %}