{% extends 'layouts/base.html' %}
{% block header %}
    <div class="text-center underline">
      <div class="greetingHeader text-muted">
          <h1 class="border-bottom" style="color: #dfe5ef">What ya got?</h1>
      </div>
    </div>
{% endblock %}
{% block content %}
    <form target="recipe-submission-iframe" action="/submitrecipe" method="post">
        {{ form }}
        <button id="submit-recipe">Submit</button>
    </form>
    <iframe style="display: none;" name="recipe-submission-iframe"></iframe>
    {% load static %}
    <script src="{% static 'js/notify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/recipe_submission.css' %}">
{% endblock %}