{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container">
        <div id="submit-container">
            <form method="post" id="recipe-form">
                {% csrf_token %}
                    <div>
                        <label id="recipe-name">
                            <h2> Recipe name: </h2>
                                {{ form.name }}
                        </label>
                    </div>
                    <div>
                        <label id="recipe-ingredients">
                            <h2> Recipe ingredients: </h2>
                                {{ form.ingredients }}
                        </label>
                    </div>
                    <div>
                         <label id="recipe-directions">
                             <h2> Recipe directions: </h2>
                                {{ form.directions }}
                         </label>
                    </div>
                    <button id="submit-recipe">Submit</button>
            </form>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'js/notify.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/submission.css' %}">
{% endblock %}