{% extends 'layouts/base.html' %}

{% block content %}
    <div id="root">
    </div>
      {% render_bundle 'main' %}
    <div id="submit-container">
        {{ form.media }}
        <form method="post" id="recipe-form">
        {% csrf_token %}
            <div>
                <label for="recipe-name">
                    <span class="recipe-name"> Recipe name: </span>
                        {{ form.name }}
                 </label>
            </div>
            <div>
                <label for="recipe-ingredients">
                    <span class="recipe-ingredients"> Recipe ingredients: </span>
                    {{ form.ingredients }}
                </label>
            </div>
            <div>
                <label for="recipe-directions">
                    <span class="recipe-description"> Recipe directions: </span>
                    {{ form.directions }}
                </label>
            </div>
            <button id="submit-recipe">Submit</button>
        </form>
    </div>
    <div id="submit-dialog">
        <span class="dialog-dialog">Here</span>
    </div>
    {% load static %}
    <script src="{% static 'js/submission-popup.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/submission.css' %}">
{% endblock %}