nav {
    float: left;
}
a {
    color: #808080
}
body {
    background-color: #c1e09e;
}

.text-center.underline {
    border-radius: 28px;
    box-shadow:
             -20px -20px 60px #ffffcb;
}