.container {
    border-radius: 15px;
    border-style: outset;
    border-width: thin;
    height: 505px;
    min-width: 1000px;
    position: center;
    top: 55px;
}
h1 {
    color: #808080;
}
h2 {
    color: #808080;
    font-size: 18px;
}
#recipe-otd {
    border-radius: 50px;
    box-shadow:   20px 20px 60px #a0ba83,
             -20px -20px 60px #e2ffb9;
    position: center;
    min-width: 1000px;
    height: 500px;
    right: -45px;
    top: 50px;
}