#recipe-search-input {
    display: none;
}
.search-title {
    display: none;
}
#id_name #id_ingredients #id_directions {
    border-radius: 20px !important;
    box-shadow: inset 3px 3px 10px #a0ba83,
    inset -3px -3px 20px #e2ffb9 !important;
}
#submit-recipe {
    border-radius: 5px;
    box-shadow: 3px 3px 10px #a0ba83,
                -3px -3px 22px #e2ffb9;
    color: #c1e09e;
    border-color: black;
    background-color: #1a1b20;
}
#submit-container {
    left: 25%;
    top: 10%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    border-color: #808080;
    border-radius: 50px;
    box-shadow: 3px 3px 10px #a0ba83,
                -3px -3px 22px #e2ffb9;
    min-width: 1000px;
    height: 800px;
    text-align: center;
}