#submission-container {
    left: 21%;
    top: 18%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    min-width: 1000px;
    max-width: 1000px;
    height: 500px;
    text-align: center;
    overflow-wrap: normal;
}

li {
    list-style-type: none;
}